body {
    background-color: #f8f8f8;
    font-family: Montserrat, serif;
}

a {
    text-decoration: none;
    color: darkslategray;
    font-size: larger;
    font-weight: 600;
}

header {

}

header ul {
    align-self: start;
    margin-top: 30px;
}

header a:hover {
    color: darkorange;
}

h1, h1 + p, h2, h3 {
    text-align: center;
}

input {
    font-style: italic;
    font-weight: lighter;
    opacity: 85%;
    text-transform: capitalize;
}

h1 + p, figure {
    display: block;
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-align: center;
}

figure img {
    width: 30%;
}

textarea {
    resize: none;
    text-transform: capitalize;
}

table {
    position: center;
}

td {
    border: 1.5px solid lightslategrey;
    padding: 5px;
}

footer {
    height: 100px;
    background-color: darkgrey;
    display: inline;
}

footer p {
    margin-top: 40px;
    margin-left: 50%;

}

button {
    height: 50px;
    width: 120px;
    border: none;
    background-color: darkslategray;
    color: #eaeaea;
    font-weight: bold;
    font-family: Verdana;

}

button:hover {
    background-color: slategrey;
    border: none;
}

button:focus {
    border: none;
    background-color: cadetblue;
}


.table {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.table-description td {
    font-weight: 600;
    text-align: center;
    border: 3px solid;
}

.container {
    padding-top: 15px;
    width: 100%;
    height: 100px;
    background-image: url("../img/1533326959_low-poly-background-generator-min.png");
    background-size: cover;
}

.logo {
    width: 10%;
    align-self: start;
}

.main-block {
    margin-left: 15%;
    margin-right: 15%;
}

.buttons input {
    font-style: normal;
}

.main-menu, footer, legend {
    display: flex;
    justify-content: space-evenly;
}

.main-menu li {
    list-style-type: none;
}

li img {
    width: 100px;
}

.description-header {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.description-long{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.description-short:first-letter, .description-long:first-letter {
    font-family: "Droid Sans", serif;
    font-size: 28px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.catalog a {
    text-align: center;
}

.list-description {
    list-style-type: lower-greek;
}

.ulightbox {
    outline: 3px solid lightslategrey;
    width: 45%;
}

.ulightbox:hover {
    outline: none;
}

.position-box {
    float: right;
    margin-top: 3%;
    margin-right: 20%;
}

.form-control {
    width: 15em;
}

.table-product {
    border: 1.5px solid lightslategrey;
    border-collapse: collapse;
}

.row1 {
    height: 45px;
}

#recipient-mail {
    color: royalblue;
}

#recipient-mail:focus {
    background-color: antiquewhite;
}

#message-text {
    height: 10em;
    width: 30em;
}