body {
    background-color: #f8f8f8;
    font-family: Montserrat, serif;
}

a {
    text-decoration: none;
    color: darkslategray;
    font-size: larger;
    font-weight: 600;
}


header a {
    align-self: start;
}

header a:hover {
    color: darkorange;
}

h1, h1 + p, h2, h3 {
    text-align: center;
}

input {
    font-style: italic;
    font-weight: lighter;
    opacity: 85%;
}

h1 + p, figure {
    display: block;
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-align: center;
}

figure img {
    width: 30%;
}



.logo {
    width: 10%;
    align-self: start;
}

.main-block {
    margin-left: 15%;
    margin-right: 15%;
}

.buttons input {
    font-style: normal;
}

.main-menu, footer, legend {
    display: flex;
    justify-content: space-evenly;
}

.main-menu li {
    list-style-type: none;
}

.description-header {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.description-long{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.catalog {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.catalog a {
    text-align: center;
}

.list-description {
    list-style-type: lower-greek;
}

.ulightbox {
    outline: 3px solid lightslategrey;
    width: 45%;
}

.ulightbox:hover {
    outline: none;
}

.form-control {
    width: 15em;
}

#message-text {
    height: 10em;
    width: 30em;
}